* {
  padding: 0;
  margin: 0;
  font-family:"League Spartan";
}

body{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}
section{
  padding: 40px;
  max-width: 900px;
}

section .puntuacion,
section .comentarios{
  padding: 20px;
  display: flex;
  gap: 20px;
}

section .puntuacion{
  gap: 80px;
}

.puntuacion-titulares{
  padding: 20px;
  width: 50%;
}

.puntuacion-valoraciones{
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.contenedor-valoracion{
  display: flex;
  background-color: rgb(247,242,248);
  color: rgb(90,50,90);
  font-weight: bold;
  padding: 16px;
  width: 70%;
  justify-content: space-evenly;
  border-radius: 5px;
  margin-bottom: 16px;
}
.contenedor-valoracion:nth-child(1) {
  align-self: start;
}
.contenedor-valoracion:nth-child(2) {
  align-self: center;
}
.contenedor-valoracion:nth-child(3) {
  align-self: end;
}
.puntuacion-titulares h2{
  color: rgb(90,50,90);
  line-height: 40px;
  font-size: 40px;
  margin-bottom: 20px;

}
.puntuacion-titulares p{
  font-weight: bold;
  color:rgb(172,163,172);
}

.profile .imagen{
  display: flex;
  gap: 20px;
}

.imagen p{
  color:rgb(180,100,151);
}
.profile img{
  width: 45px;
  border-radius: 50%;
}
.profile{
  background-color:rgb(90,50,90);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  border-radius: 10px;
  width: 260px;
  line-height: 20px;
  width: 400px;
}

.comentarios{
  min-height: 300px;
}
.comentarios .profile:nth-child(1){
  align-self:flex-start;
}
.comentarios .profile:nth-child(2){
  align-self: center;
}
.comentarios .profile:nth-child(3){
  align-self: flex-end;
}